

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background: #767de6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  border: 3px solid black;
}

.back-button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 8px 15px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 15px;
}

.back-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #93b6dd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  border: 1px solid black;
}

.profile-content h1 {
  color: #333;
  font-size: 24px;
}

.profile-content p {
  color: #555;
  font-size: 16px;
  margin: 8px 0;
  padding: 20px;
}

.friends-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.friend-item {
  background: #ddd;
  padding: 8px;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

.addFriendButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.addFriendButton:hover {
  background-color: #0056b3;
}

.addFriendContainer {
  display: flex;
  border: 3px solid black;
}

.sentFriendRequestButton {
  background: url('../Img/addFriendSent.png') no-repeat center center; 
  background-size: contain;
  border: 5px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.sentFriendRequestButton:hover {
  opacity: 0.5;
}

.alreadyFriendsButton{
  background: url('../Img/friends.png') no-repeat center center; 
  background-size: contain;
  border: 5px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.alreadyFriendsButton:hover {
  opacity: 0.5;
}
